<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
</head>
<body >
    <% if (success_msg && success_msg.length > 0) { %>
        <div style="color: green; background: #e6ffed; padding: 10px; border: 1px solid green; margin-bottom: 10px;">
            <%= success_msg %>
        </div>
    <% } %>
    <% if (error_msg && error_msg.length > 0) { %>
        <div style="color: red; background: #fff5f5; padding: 10px; border: 1px solid red; margin-bottom: 10px;">
            <%= error_msg %>
        </div>
    <% } %>
    <% if(user) { %>
        <% console.log("User object found:", user); %> 
        <p style="color: red;">Email: <%= user.email %></p>
        <p style="color: red;">Name: <%= user.name %></p>
    <% } %>
    <a href="/logout">logout</a>
    <form action="/" method="get">
        <div>
            search:<input type="search" name="search" value="<%= search %>">
            <button type="submit">search</button>
        </div>
    </form> 
    <br>
    <form action="/product/create" method="post">
        Name: <input type="text" name="name" required>
        Price: <input type="number" name="price" required>
        Qty: <input type="number" name="quantity" required>
        Date: <input type="date" name="mfgDate" required>
        <button type="submit">Save Product</button>
    </form> 
    <br>
    <table border="1"  style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <% products.forEach(p => { %>
                <tr>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                    <td><%= p.quantity %></td>
                    <td><%= new Date(p.mfgDate).toLocaleDateString() %></td>
                    <td>
                        <a href="/product/edit/<%= p._id %>">Edit</a> 
                        <a href="/product/delete/<%= p._id %>" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>

<div >
    <% if (currentPage > 1) { %>
        <a href="/?page=<%= currentPage - 1 %>&search=<%= search %>" 
          >
           Previous
        </a>
    <% } %>
    <span>Page <%= currentPage %> of <%= totalPages %></span>
    <% if (currentPage < totalPages) { %>
        <a href="/?page=<%= currentPage + 1 %>&search=<%= search %>" >
           Next
        </a>
    <% } %>
</div>
</body>
</html>